html
{ background-color: black; }
.GameCanvas
{
	display: none;
	width: 4000px;
	height: 4000px;
	margin: auto;
	justify-content: center;
	align-content: center;
	border: 2px solid red;
	z-index: -120;
	image-rendering: pixelated;
}
.GameMirror
{
	display: flex;
	position: relative;
	justify-content: center;
	align-content: center;
	margin: auto;
	width: 75%;
	height: 50%;
	image-rendering: pixelated;
}